<%= render partial: "/layouts/search" %>


<div class="row">
    <div class="col-md-6">
      <div>
        <p><공지 사항></p><br>
        -소중이닷컴은 아직 baby 단계입니다. 빠르게 발전시켜나가겠습니다. 많은 관심 부탁드립니다!<br>
        -한줄톡에 비속어 및 저속한 글은 자제해주세요~<br>
        -현재 사이트에서 가격 비교 가능한 부분은 <span style="font-weight:bold; color:red">여성용 성인용품</span>입니다 차차 추가해 나가겠습니다
      </div>
      <hr>
      <div>
        <p><업데이트 상황></p><br>
        -지금 데이터베이스를 확장하고 있어요 사이트 60여개에서 약 18만개 정도 데이터를 가져올 예정입니다!--(1.10)<br>
        -데이터베이스 하다가 너무 힘들어서 수다방 기초버전 오픈!--(1.12)
      </div>
      <hr>
    </div>
    <div class="col-md-6">
      
        <!--%= hidden_field_tag :direction, params[:direction] %>-->
        <!--%= hidden_field_tag :sort, params[:sort] %>-->
        <div class="form-group" style="padding-bottom: 25px;">
          <p>한줄톡!</p>
          <div class="input-group">
            <input type="text" class="form-control talk_content" placeholder="아무거나" style="background: none; background-color: none; border-radius: 0;">
            <span class="input-group-btn">
              <button class="btn btn-default talk_submit" type="submit" style="background: none; border-radius: 0;">톡!</button>
            </span>
          </div><!-- /input-group -->

        </div>
        <!--한줄 톡 보여주기-->
        <div id="linetalks">
          <% @linetalks.each do |l| %>
            <p style="border-bottom:0.5px #D3D3D3 dashed"><%= l.linetalk_content %></p>
            
          
          <% end %>
        </div>
    </div>
    
</div>


<script type="text/javascript">

  $(".talk_submit").click(function(){
    
    talk_content = $(".talk_content").val()
    
    $.ajax({
      method:"post",
      url: "/home/linetalk_write",
      data: { linetalk_content_view: talk_content },
      success: function(){
        $("#linetalks").prepend("<p style=\"border-bottom:0.5px #D3D3D3 dashed\">"+talk_content+"</p>");
        $(".talk_content").val('');
      },  
      error: function(){

        alert("글이 작성되지 않았습니다.");
        $(".talk_content").val('');
      }
      
      
      // $("#reply_"+post_id).append("<p>"+post_content+"</p>")
      // $("#content_"+post_id).val('');
    })
  
  })




</script>