<div class="announces">
    <div id="title">
        <img id="smallimg" src=<%=image_path "sojoong2_image.jpg"%>>
        이번주와 다음주에 사이트를 이쁘게 만들어서 업데이트 할 예정입니다!
        <span id="date">2017-01-22</span>
    </div>
    <div id="board">
        -소중이닷컴은 아직 baby 단계입니다. 빠르게 발전시켜나가겠습니다. 많은 관심 부탁드립니다!<br>
        -한줄톡에 비속어 및 저속한 글은 자제해주세요~<br>
        -현재 사이트에서 모든 성인용품에 대해 가격비교가 가능합니다! 업데이트 완료!<br>
    </div>
</div>
<div class="announces">
    <div id="title">
        <img id="smallimg" src=<%=image_path "sojoong2_image.jpg"%>>
        데이터베이스 일부 확장.. 계속 추가 예정
        <span id="date">2017-01-15</span>
    </div>
    <div id="board">
        -소중이닷컴은 아직 baby 단계입니다. 빠르게 발전시켜나가겠습니다. 많은 관심 부탁드립니다!<br>
        -한줄톡에 비속어 및 저속한 글은 자제해주세요~<br>
        -현재 사이트에서 모든 성인용품에 대해 가격비교가 가능합니다! 업데이트 완료!<br>
    </div>
</div>
<div class="announces">
    <div id="title">
        <img id="smallimg" src=<%=image_path "sojoong2_image.jpg"%>>
        데이터베이스 하다가 너무 힘들어서 수다방 기초버전 오픈!
        <span id="date">2017-01-12</span>
    </div>
    <div id="board">
        -소중이닷컴은 아직 baby 단계입니다. 빠르게 발전시켜나가겠습니다. 많은 관심 부탁드립니다!<br>
        -한줄톡에 비속어 및 저속한 글은 자제해주세요~<br>
        -현재 사이트에서 모든 성인용품에 대해 가격비교가 가능합니다! 업데이트 완료!<br>
    </div>
</div>

<script>
  $("document").ready(function(){
    $("#menu2").css("color", "black")
  })
</script>