@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    padding: 37px 0px 37px 0px;
    width: 100%;
    height: 250px;
    color: gray;
    text-align: center;
}

.header span{
    color: #df2d39;
}

.nav{
    width: 100%;
    border-top: 1px solid #dfdfdf; 
    border-bottom: 1px solid #dfdfdf; 
    text-align: center;
}

.nav ul{
    display: inline-block;
    margin: 0;
    list-style: none;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    display: inline-block;
    padding: 12px 20px 12px 20px;
    height: 46px;
    color: gray;
    font-family: Hanna !important;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
}

.nav ul li a:hover{
    color: black;
    cursor: pointer;
}

.nav input{
    position: relative;
    top: 1px;
    margin: 0px 10px 0px 20px;
    padding-left: 5px; 
    height: 26px;
    border: 1px solid gray;
    border-radius: 3px;
}

.nav #search{
    position: relative;
    display: inline-block;
    top: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: cover;
}

#menu3div{
    position: absolute;
    visibility: hidden;
    top: 0px;
    padding: 5px 15px 5px 15px;
    width: 200px;
    height: 45px;
    background-color: white;
    border: 1px solid #dfdfdf;
    z-index: 9999;
    transition-property: opacity;
    transition-duration: 0.5s;
}

#menu3div a{
    display: block;
    padding: 5px;
    color: gray;
    font-size: 18px;
    font-family: Hanna !important;
}

#menu3div a#sub{
    margin-left: 20px;
    font-family: Hanna !important;
}

#menu3div a:hover{
    color: black;
    cursor: pointer;
}

#menu4div{
    position: absolute;
    visibility: hidden;
    top: 0px;
    padding: 5px 15px 5px 15px;
    width: 160px;
    height: 80px;
    background-color: white;
    border: 1px solid #dfdfdf;
    z-index: 9999;
    transition-property: opacity;
    transition-duration: 0.5s;
}

#menu4div a{
    display: block;
    padding: 5px;
    color: gray;
    font-size: 18px;
    font-family: Hanna !important;
    transition: 0.5s;
}

#menu4div a:hover{
    color: black;
    cursor: pointer;
}

.content{
    position: relative;
    left: 50%;
    margin-left: -500px;
    padding: 40px 0px 40px 0px;
    width: 1000px;
}

.footer{  
    padding: 25px;
    width: 100%; 
    height: 72px; 
    font-size: 16px;
    font-weight:  bold;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

.footer span{  
    color: #ee535d;
}
