<div align="center">
  <h1 style="margin-top: 30px;">검색해바여</h1>
    <form action="/home/result" method="get">
        <!--%= hidden_field_tag :direction, params[:direction] %>-->
        <!--%= hidden_field_tag :sort, params[:sort] %>-->
        <div class="form-group" style="border-bottom: 0.5px #D3D3D3 solid; padding-bottom: 25px;">
            <div class="input-group" style="width:30%">
              <input name="search_product_name" type="text" class="form-control" placeholder="제품명 혹은 일부로 찾아주세요~.~" style="background: none; background-color: none; border-radius: 0;">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" style="background: none; border-radius: 0;">꼬!</button>
              </span>
            </div><!-- /input-group -->
            <br><br>
            <p>
              <span style="font-weight: bold; color:black"><%= Product.pluck(:product_website).uniq.size %>개</span> 의 사이트에서 <span style="font-weight: bold; color:red"><%= Product.all.size %>개</span>의 상품이 비교되고 있어요잉    
            </p>
        </div>
    </form>
</div>